*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input {
  -webkit-appearance: none; }

img {
  width: 100%; }

ul, ol {
  list-style: none; }

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400; }

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 0.4em;
  line-height: 1.5em; }

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0.7em;
  line-height: 1.4em; }

h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.3em; }

p {
  font-size: 1em;
  margin-bottom: 0.3em;
  line-height: 1.2em; }

.main-header {
  padding: 1em 2em; }
  .main-header .link-contain {
    text-align: center;
    margin: 0 auto 1em auto;
    display: block;
    background-color: #DB8876;
    padding: 0.3em;
    width: 170px; }

.nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; }

.item-photographer {
  color: #901C1C;
  font-size: 2em;
  margin-bottom: 0; }

#photographers {
  padding-top: 2em;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.artist-card {
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2em;
  text-align: center; }
  .artist-card a {
    text-decoration: none; }
  .artist-card .name {
    color: #D3573C;
    margin-bottom: 0.1em; }
  .artist-card .location {
    color: #901C1C; }
  .artist-card .tagline {
    font-size: 0.9em; }
  .artist-card .price {
    color: #525252;
    font-size: 0.8em;
    margin-bottom: 0.5em; }

.tag-not-found {
  display: none; }

#profil-photographer {
  padding: 2em; }

#photograph-info {
  background-color: #FAFAFA;
  border-radius: 5px;
  display: flex;
  padding: 2em;
  justify-content: space-between; }

.infos-photographer {
  margin-right: 2em; }

.infoAndBtn {
  display: flex; }

#media-section {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  width: 100%; }

.media-container {
  width: 30%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 2em;
  margin-left: 1.1em;
  margin-right: 1.1em; }
  .media-container .media-title {
    color: #901C1C;
    font-size: 1.1em; }
  .media-container .img-link {
    width: 100%;
    display: block;
    height: 250px;
    overflow: hidden;
    margin-bottom: 0.5em; }
    .media-container .img-link img {
      height: 100%; }
    .media-container .img-link video {
      width: 100%;
      height: 100%; }

.title-container {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding: 3px; }

.likes-container {
  display: flex;
  align-items: center; }

.likes-number {
  margin-bottom: 0; }

.empty-heart {
  position: relative;
  margin-left: 8px;
  cursor: pointer; }
  .empty-heart .full-heart {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  .empty-heart .liked {
    opacity: 1; }

.input-select label {
  margin-right: 8px; }
.input-select select {
  background-color: #901C1C;
  color: white;
  padding: 1em;
  border: none; }

.tag-list {
  display: flex;
  flex-flow: row;
  height: fit-content; }

.tag {
  border: 1px solid #C4C4C4;
  padding: 0.3em 0.6em;
  border-radius: 15px;
  margin-right: 4px;
  color: #901C1C;
  font-size: 0.9em;
  cursor: pointer; }

.selected-tag {
  background-color: #901C1C;
  color: white;
  border-color: #901C1C; }

.btn-contact {
  background-color: #901C1C;
  border: none;
  color: white;
  padding: 1em 0.7em;
  border-radius: 5px; }

.portrait-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em; }

/*# sourceMappingURL=style.css.map */
