*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  -webkit-appearance: none;
}

img {
  width: 100%;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 0.1em;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 0.1em;
  line-height: 1.4em;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.1em;
  line-height: 1.3em;
}

p {
  font-size: 1em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

.main-header {
  padding: 1em 2em;
}

.link-contain {
  text-align: center;
  margin: 0 auto 1em auto;
  background-color: #DB8876;
  padding: 0.3em 1em;
  border-radius: 10px;
  width: 170x;
  display: none;
  position: fixed;
  top: 0.5em;
  right: 43.5%;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.link-contain-display {
  display: block;
}

.nav-items {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.item-photographer {
  color: #901C1C;
  font-size: 2em;
  margin-bottom: 0;
}

#photographers {
  padding-top: 2em;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.artist-card {
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
}
.artist-card a {
  text-decoration: none;
}
.artist-card .name {
  color: #D3573C;
  margin-bottom: 0.1em;
}
.artist-card .location {
  color: #901C1C;
}
.artist-card .tagline {
  font-size: 0.9em;
}
.artist-card .price {
  color: #525252;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.tag-not-found {
  display: none;
}

.info-photograph-name {
  color: #D3573C;
}

.info-photograph-city {
  margin-bottom: 0.5em;
  color: #901C1C;
  font-weight: 400;
  font-size: 1.2em;
}

.info-photograph-tagline {
  color: #525252;
}

#profil-photographer {
  padding: 2em;
}

#photograph-info {
  background-color: #FAFAFA;
  border-radius: 5px;
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

#card-bottom {
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: 2em;
  background-color: #DB8876;
  padding: 1em 1.5em;
  z-index: 1000;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}
#card-bottom p {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.total-likes-container {
  display: flex;
}
.total-likes-container p {
  margin-right: 8px;
}

.card-bottom-heart-container {
  width: 20px;
  display: block;
}

.infos-photographer {
  margin-right: 2em;
}

.infoAndBtn {
  display: flex;
}

#media-section {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 100%;
  padding: 2em;
}

.media-container {
  width: 30%;
  max-width: 350px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2em;
}
.media-container .media-title {
  color: #901C1C;
  font-size: 1.1em;
}
.media-container .img-link {
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-container .img-link img, .media-container .img-link video {
  width: 130%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding: 3px;
}

.likes-container {
  display: flex;
  align-items: center;
}

.likes-number {
  margin-bottom: 0;
}

.empty-heart {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}
.empty-heart .full-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.empty-heart .liked {
  opacity: 1;
}

.input-select {
  margin-bottom: 2em;
}
.input-select label {
  margin-right: 8px;
}
.input-select select {
  border-radius: 5px 5px 0 0;
  background-color: #901C1C;
  color: white;
  padding: 1em;
  border: none;
}
.input-select select option {
  background-color: #901C1C;
  border-bottom: white 1px solid;
}

.tag-list {
  display: flex;
  flex-flow: row;
  height: fit-content;
}

.tag {
  border: 1px solid #C4C4C4;
  padding: 0.3em 0.6em;
  border-radius: 15px;
  margin-right: 4px;
  color: #901C1C;
  font-size: 0.9em;
  cursor: pointer;
}

.selected-tag {
  background-color: #901C1C;
  color: white;
  border-color: #901C1C;
}

.btn-contact {
  background-color: #901C1C;
  border: none;
  color: white;
  padding: 1em 0.7em;
  border-radius: 5px;
}

.portrait-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.main-container-hidden {
  display: none;
}

.lightbox-visible {
  width: 100%;
  height: 100vh;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container {
  position: relative;
}

.lightbox-title {
  position: absolute;
  left: 2.4em;
  bottom: -2em;
  color: #901C1C;
  font-size: 1.2em;
  font-weight: 400;
}

#btn-close {
  position: absolute;
  top: 0em;
  right: 0.5em;
  background-color: none;
  color: #901C1C;
  width: 40px;
}

.fleche {
  width: 40px;
}

.fleche-et-img {
  display: flex;
  align-items: center;
}

.img-lightbox-container {
  margin-right: 1.5em;
  margin-left: 1.5em;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.img-lightbox-container img {
  width: fill;
  height: 100%;
}

.display-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.507);
}

.modal-form-header {
  display: flex;
  justify-content: space-between;
}

.modal-form {
  padding: 1em 1.5em;
  background-color: #DB8876;
  width: 420px;
  border-radius: 5px;
}

#close-modal {
  width: 20px;
}

.header-title-modal-form {
  width: 90%;
}

.contact-form {
  display: flex;
  flex-flow: column;
}
.contact-form label {
  margin-bottom: 0.2em;
}
.contact-form input {
  border-radius: 5px;
  border: none;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.contact-form .area-message {
  border-radius: 5px;
  resize: none;
  padding: 0.5sem;
  height: 100px;
  margin-bottom: 1em;
  border: none;
  font-family: inherit;
}

#submit-contact-form-btn {
  background-color: #901C1C;
  color: white;
  padding: 1em 2em;
  width: fit-content;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
