.info-photograph-name {
  color: $primary-color-light;
}

.info-photograph-city {
  margin-bottom: 0.5em;
  color: $primary-color;
  font-weight: 400;
  font-size: 1.2em;
}

.info-photograph-tagline {
  color: $grey;
}

#profil-photographer {
  padding: 2em;
}
#photograph-info {
  background-color: $soft-grey;
  border-radius: 5px;
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

#card-bottom {
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: 2em;
  background-color: #DB8876;
  padding: 1em 1.5em;
  z-index: 1000;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;

  p {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.total-likes-container {
  display: flex;

    p {
      margin-right: 8px;
    }
}

.card-bottom-heart-container {
  width: 20px;
  display: block;
}

.infos-photographer {
  margin-right: 2em;
}

.infoAndBtn {
  display: flex;
}

#media-section {
  display: flex;  
  flex-flow: wrap;
  margin:0 auto;
  width: 100%;
  padding: 2em;
}

.media-container {
  width: 30%;
  max-width: 350px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2em;
  
  .media-title {
    color: $primary-color;
    font-size: 1.1em;
  }

  .img-link {
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
    margin-bottom:0.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img, video {
     width: 130%;
    

    }
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  padding: 3px;
}

.likes-container  {
  display: flex;
  align-items: center;
}

.likes-number {
  margin-bottom: 0;
}

.empty-heart {
  position: relative;
  margin-left: 8px;
  cursor: pointer;

  .full-heart {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .liked {
    opacity: 1;
  }
}

.input-select {
  margin-bottom: 2em;
  label {
    margin-right: 8px;
  }

  select {
    border-radius: 5px 5px 0 0;
    background-color: $primary-color;
    color: white;
    padding: 1em;
    border: none;

    option {
      background-color: $primary-color;
      border-bottom: white 1px solid;
    }
  }
}