.tag-list {
  display: flex;
  flex-flow: row;
  height: fit-content;
}

.tag {
  border: 1px solid #C4C4C4;
  padding: 0.3em 0.6em;
  border-radius: 15px;
  margin-right: 4px;
  color: $primary-color;
  font-size: 0.9em;
  cursor: pointer;
}

.selected-tag {
  background-color:$primary-color;
  color: white;
  border-color: $primary-color;
}

.btn-contact {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 1em 0.7em;
  border-radius: 5px;
}

.portrait-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
} 
