@media screen and(max-width:767px){
    .modal-form {
        position: fixed;
        top: 0;
        bottom: 0;
        right:0;
        left:0;
        z-index: 1000;
        width: 100%;
    }
    .modal-form-header {
        margin-bottom: 2em;
    }

    .contact-form {
        .area-message {
            height: 220px;
            margin-bottom: 1.5em;
        }
    }

    #submit-contact-form-btn {
        margin: 0 auto;
        height: 40px;
        width: 180px;
    }
}